
// Header
// .header
//   position relative
//   display flex
//   align-items center
//   justify-content center
//   text-align center
//
//   debug()

.area-chart
  border dashed 1px color_gray_4
