
// Colors (dark to light)

// Grayscale
color_gray_0 = #000
color_gray_1 = lighten(color_gray_0, 20%)
color_gray_2 = lighten(color_gray_0, 40%)
color_gray_3 = lighten(color_gray_0, 60%)
color_gray_4 = lighten(color_gray_0, 80%)
color_gray_5 = lighten(color_gray_0, 100%)
color_black  = color_gray_0
color_white  = color_gray_5
